---
layout: home
---

<div class="d-flex flex-row flex-items-center mb-4">

    <div class="col-sm-9 d-sm-block d-none">
        <img src="assets/getpeeps-1590820015842.png" class="width-full">
    </div>

    <div class="col-sm-6 col-12 d-flex flex-column">
        <h1 class="h1-responsive pb-2">Hey, I'm Amarnath</h1>
        <p class="f4 text-gray">
            I work as a software engineer in the backend engineering team at Lyearn.
        </p>
        
        <div id="gh-button-container" onload="loadGhButton()">
            <a class="btn btn-sm btn-with-count" href="https://github.com/97amarnathk" role="button">
                <svg viewBox="0 0 16 16" class="octicon octicon-mark-github mr-1" style="width: 16px; height: 16px;"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
                <span>97amarnathk</span>
            </a>
        </div>
    </div>

</div>

<div>
    <div>
        <div class="d-flex flex-row mb-4">
            <h2 class="h2 mr-3">Recent posts</h1>
                <a class="btn btn-sm btn-octicon mr-2 height-fit d-flex flex-items-center" href={{ "/blog" | prepend: site.baseurl }} >
                    View all   {% octicon arrow-right class:"ml-1"%}
                </a>
        </div>
        {% for post in site.posts %}

        <div class="d-flex flex-column flex-md-row mb-6">
            <div class="col-12 col-md-3">
                <p class="m-0 text-mono f5 text-gray">{{ post.date | date: "%b %-d, %Y" }}</p>
            </div>
            <div class="col-12 col-lg-7">
                <div>
                    <ul class="taglist d-flex flex-row flex-wrap mb-1 text-mono f5 text-gray">
                        {% for tag in post.tags %}
                        {% if forloop.last %}
                        <li class="mr-2">{{tag}}</li>
                        {% else%}
                        <li class="mr-2 licomma">{{tag}}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <h4 class="f3 mb-2"><a class="link-gray-dark"
                        href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                <p class="text-gray">
                    {{ post.excerpt}}
                </p>
            </div>
        </div>

        {% endfor %}

    </div>
</div>
