<nav class="Header py-lg-0 flex-wrap flex-lg-nowrap p-responsive flex-lg-justify-between flex-column flex-lg-row p-responsive">
	<!-- Blog logo on left-->
	<div class="Header-item flex-justify-between flex-items-center mr-0">
		<a href="{{site.url}}" class="Header-link f4 d-flex flex-items-center">
			<img class="octicon favicon mr-2" width="32" src="{{site.baseurl}}/assets/android-chrome-192x192.png">
			<span>Amarnath Karthi</span>
		</a>

		<div class="Header-link d-lg-none flex-self-end" id="header-responsive-toggle" onclick="toggle_header_links();">
			<div class="" id="expand-nav-button">{% octicon three-bars width:24 %}</div>
			<div class="d-none" id="contract-nav-button">{% octicon x width:24 %}</div>
		</div>
	</div>

	<!-- Nav links on right for large screens, hidden for smaller screens-->
	<div class="Header-item d-lg-flex d-none flex-justify-center flex-column flex-lg-row flex-self-stretch mr-0 mt-3 mt-lg-0" id="header-links">
		{% for page in site.pages %} {% if page.title %}
			<a href="{{ page.url | prepend: site.baseurl }}" class="Header-link flex-self-stretch py-lg-3  mr-0 mr-lg-3 py-2 border-top border-lg-top-0">{{ page.title }}</a>
		{% endif %} {% endfor %}
			<a href="{{ "/blog" | prepend: site.baseurl }}" class="Header-link flex-self-stretch py-lg-3  mr-0 mr-lg-3 py-2 border-top border-lg-top-0">Blog</a>
	</div>
</nav>