<div class="container-md markdown-body mt-6 py-3 px-3 border border-blue rounded-2 box-shadow-extra-large">
    <p> I hope this post was an informative read for you. Incase of any comments/questions do reach out to me on
        <a href="https://twitter.com/97amarnathk">twitter</a>.</p>
    <h5 class="h5">Liked this article?</h5>
    <div class="d-flex flex-column">
        <div class="pb-1">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large"
                data-lang="en" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="pb-1">
            <a class="btn btn-sm btn-outline" target="_blank" href="https://www.buymeacoffee.com/97amarnathk">
                <img class="octicon mr-2" src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg"
                    alt="Buy me a coffee" style="background: transparent" width="20" height="20">
                <span>Buy me a coffee</span>
            </a>
        </div>
    </div>