---
layout: default
---

<div>
	<h1 class="h1 mb-6">Blog</h1>

	{% for post in site.posts %}

	<div class="d-flex flex-column flex-md-row mb-6">
		<div class="col-12 col-md-3">
			<p class="m-0 text-mono f5 text-gray">{{ post.date | date: "%b %-d, %Y" }}</p>
		</div>
		<div class="col-12 col-lg-7">
			<div>
				 <ul class="taglist d-flex flex-row flex-wrap mb-1 text-mono f5 text-gray">
					 {% for tag in post.tags %}
					 {% if forloop.last %}
					 <li class="mr-2">{{tag}}</li>
					 {% else%}
					 <li class="mr-2 licomma">{{tag}}</li>
					 {% endif %}
					 {% endfor %}
				 </ul>
			</div>
			<h4 class="f2 mb-2"><a class="link-gray-dark" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
			<p class="text-gray">
				{{ post.excerpt}}
			</p>
		</div>
	</div>

	{% endfor %}

</div>
<!-- <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->