<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="height-full">

{% include head.html %}

<body class="height-full d-flex flex-column">

    {% include header.html %}

    <main class="p-responsive flex-1" aria-label="Content">
      <article class="container-md">
        <div class="mb-3 mb-md-4 pb-0 pb-md-6 pt-0 pt-lg-0"></div> 
        <section class="px-3 py-2 pb-md-6">
          {{ content }}
        </section>
      </article>
    </main>

    {% include footer.html %}
</body>

</html>