---
layout: default
---
<header class="mb-4">
  <h1 class="my-2 h1 lh-condensed">{{ page.title }}</h1>
  <div class="d-flex flex-column flex-md-row">
    <p class="m-0 text-mono f5 text-gray">{{ page.date | date: "%b %-d, %Y" }}</p>
    <span class="col-1 d-none d-md-inline"></span>
    <ul class="taglist d-flex flex-row flex-wrap mb-2 text-mono f5 text-gray">
      {% for tag in page.tags %}
      {% if forloop.last %}
      <li class="mr-2">{{tag}}</li>
      {% else%}
      <li class="mr-2 licomma">{{tag}}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</header>

<div class="markdown-body">
  {{ content }}
</div>